params {

  nats_enabled = true
  nats_url = 'nats://0.0.0.0:4222'
  nats_subject = 'nextflow'
  nats_events = ['workflow.start', 'workflow.error', 'workflow.complete', 'process.start', 'process.complete', 'process.logs']
  nats_jetstream_enabled = false
}

plugins {
    id 'nf-nats@1.0.0'
}

nats {
    enabled = params.nats_enabled
    url = params.nats_url
    subject = params.nats_subject
    events = params.nats_events
    jetstream = params.nats_jetstream_enabled
}